<% provide(:title, "Home") %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Hello, Rails!</h1>

  <p>
    I am learning Rails from the tutorial linked <a href="https://www.railstutorial.org/book/static_pages">here!</a>
  </p>
</body>
</html>
